In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy import stats
import numpy as np
df=pd.read_csv("food-allergy-analysis-Zenodo.csv")

In [2]:
df.head()

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#convert categorical data into numerical one
df=pd.get_dummies(df, columns=["GENDER_FACTOR", "RACE_FACTOR","ETHNICITY_FACTOR","PAYER_FACTOR","ATOPIC_MARCH_COHORT"], prefix=["GENDER", "RACE","ETHNICITY","PAYER","ATOPIC"])

In [4]:
df.isna().sum()

SUBJECT_ID                                  0
BIRTH_YEAR                                  0
AGE_START_YEARS                             0
AGE_END_YEARS                               0
SHELLFISH_ALG_START                    327954
SHELLFISH_ALG_END                      332149
FISH_ALG_START                         331404
FISH_ALG_END                           332673
MILK_ALG_START                         325911
MILK_ALG_END                           328620
SOY_ALG_START                          330781
SOY_ALG_END                            331769
EGG_ALG_START                          327135
EGG_ALG_END                            329907
WHEAT_ALG_START                        332054
WHEAT_ALG_END                          332512
PEANUT_ALG_START                       324547
PEANUT_ALG_END                         331108
SESAME_ALG_START                       332434
SESAME_ALG_END                         333022
TREENUT_ALG_START                      333199
TREENUT_ALG_END                        333200
WALNUT_ALG_START                       332496
WALNUT_ALG_END                         333034
PECAN_ALG_START                        332915
PECAN_ALG_END                          333141
PISTACH_ALG_START                      332831
PISTACH_ALG_END                        333118
ALMOND_ALG_START                       332814
ALMOND_ALG_END                         333083
BRAZIL_ALG_START                       333132
BRAZIL_ALG_END                         333181
HAZELNUT_ALG_START                     332947
HAZELNUT_ALG_END                       333148
CASHEW_ALG_START                       332639
CASHEW_ALG_END                         333079
ATOPIC_DERM_START                      283685
ATOPIC_DERM_END                        291468
ALLERGIC_RHINITIS_START                277633
ALLERGIC_RHINITIS_END                  307874
ASTHMA_START                           269326
ASTHMA_END                             307735
FIRST_ASTHMARX                         215650
LAST_ASTHMARX                          215650
NUM_ASTHMARX                           215650
GENDER_S0 - Male                            0
GENDER_S1 - Female                          0
RACE_R0 - White                             0
RACE_R1 - Black                             0
RACE_R2 - Asian or Pacific Islander         0
RACE_R3 - Other                             0
RACE_R4 - Unknown                           0
ETHNICITY_E0 - Non-Hispanic                 0
ETHNICITY_E1 - Hispanic                     0
PAYER_P0 - Non-Medicaid                     0
PAYER_P1 - Medicaid                         0
ATOPIC_False                                0
ATOPIC_True                                 0
dtype: int64

In [5]:
#dealing with missing values

df = df.fillna(df.mean())
np.where(df.values >= np.finfo(np.float64).max)

(array([], dtype=int64), array([], dtype=int64))

In [6]:
df.pop('RACE_R2 - Asian or Pacific Islander')

0         0
1         0
2         0
3         0
4         0
         ..
333195    0
333196    0
333197    0
333198    0
333199    0
Name: RACE_R2 - Asian or Pacific Islander, Length: 333200, dtype: uint8

In [7]:
df

,SUBJECT_ID,BIRTH_YEAR,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,SHELLFISH_ALG_END,FISH_ALG_START,FISH_ALG_END,MILK_ALG_START,MILK_ALG_END,...,RACE_R0 - White,RACE_R1 - Black,RACE_R3 - Other,RACE_R4 - Unknown,ETHNICITY_E0 - Non-Hispanic,ETHNICITY_E1 - Hispanic,PAYER_P0 - Non-Medicaid,PAYER_P1 - Medicaid,ATOPIC_False,ATOPIC_True
0,1,2006,0.093087,3.164956,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,1,0,0,1,0,0,1,1,0
1,2,1994,12.232717,18.880219,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,1,0,1,0
2,3,2006,0.010951,6.726899,8.724076,6.431159,6.62869,5.337775,1.002053,1.002053,...,1,0,0,0,0,1,1,0,0,1
3,4,2004,2.398357,9.111567,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,0,1,0,1,1,0,1,0
4,5,2006,0.013689,6.193018,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333195,333196,2006,0.736482,7.449692,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,1,0,1,0
333196,333197,2006,0.019165,6.984257,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,1,0,0,1,0,0,1,0,1
333197,333198,2006,0.443532,7.405886,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,1,0,1,0
333198,333199,2006,0.013689,7.017112,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,0,0,1,0,1,0,1,0,0,1
333199,333200,2006,0.019165,3.014374,8.724076,6.431159,6.62869,5.337775,3.287408,2.473547,...,1,0,0,0,1,0,1,0,1,0

In [8]:
#dealing with outliers
#detect outliers
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

Empty DataFrame
Columns: [SUBJECT_ID, BIRTH_YEAR, AGE_START_YEARS, AGE_END_YEARS, SHELLFISH_ALG_START, SHELLFISH_ALG_END, FISH_ALG_START, FISH_ALG_END, MILK_ALG_START, MILK_ALG_END, SOY_ALG_START, SOY_ALG_END, EGG_ALG_START, EGG_ALG_END, WHEAT_ALG_START, WHEAT_ALG_END, PEANUT_ALG_START, PEANUT_ALG_END, SESAME_ALG_START, SESAME_ALG_END, TREENUT_ALG_START, TREENUT_ALG_END, WALNUT_ALG_START, WALNUT_ALG_END, PECAN_ALG_START, PECAN_ALG_END, PISTACH_ALG_START, PISTACH_ALG_END, ALMOND_ALG_START, ALMOND_ALG_END, BRAZIL_ALG_START, BRAZIL_ALG_END, HAZELNUT_ALG_START, HAZELNUT_ALG_END, CASHEW_ALG_START, CASHEW_ALG_END, ATOPIC_DERM_START, ATOPIC_DERM_END, ALLERGIC_RHINITIS_START, ALLERGIC_RHINITIS_END, ASTHMA_START, ASTHMA_END, FIRST_ASTHMARX, LAST_ASTHMARX, NUM_ASTHMARX, GENDER_S0 - Male, GENDER_S1 - Female, RACE_R0 - White, RACE_R1 - Black, RACE_R3 - Other, RACE_R4 - Unknown, ETHNICITY_E0 - Non-Hispanic, ETHNICITY_E1 - Hispanic, PAYER_P0 - Non-Medicaid, PAYER_P1 - Medicaid, ATOPIC_False, ATOPIC_True]
Index: []

[0 rows x 57 columns]

In [9]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1:].values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x)

[[1.00000000e+00 2.00600000e+03 9.30869268e-02 ... 0.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [2.00000000e+00 1.99400000e+03 1.22327173e+01 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [3.00000000e+00 2.00600000e+03 1.09514031e-02 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [3.33198000e+05 2.00600000e+03 4.43531828e-01 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [3.33199000e+05 2.00600000e+03 1.36892539e-02 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.33200000e+05 2.00600000e+03 1.91649555e-02 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]]

In [10]:
from sklearn.linear_model import LogisticRegression
sk_model=LogisticRegression()

In [11]:
sk_model.fit(x_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_predict=sk_model.predict(x_test)

In [12]:
accur=get_accuracy(y_predict,y_test)

NameError: name 'get_accuracy' is not defined